@model QuanLyBanHang.Models.PXuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PXuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHangs.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHangs.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanViens.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanViens.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLapHD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapHD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiaoHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPX }) |
    @Html.ActionLink("Back to List", "Index")
</p>
