@model IEnumerable<QuanLyBanHang.Models.PNhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NCCs.TenNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanViens.TenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLapHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NCCs.TenNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanViens.TenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLapHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiaoHang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPN })
        </td>
    </tr>
}

</table>
